*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    animation: back 2s infinite;
}
svg path:nth-child(1){
    stroke-dasharray: 500px;
    stroke-dashoffset: 500PX;
    animation: sai 5s infinite;
}
svg path:nth-child(2){
    stroke-dasharray: 1550px;
    stroke-dashoffset: 1550PX;
    animation: sai 5s infinite;
}
svg path:nth-child(3){
    stroke-dasharray: 1800px;
    stroke-dashoffset: 1800PX;
    animation: sai 5s infinite;
}
svg path:nth-child(4){
    stroke-dasharray: 750px;
    stroke-dashoffset: 750PX;
    animation: sai 5s infinite;
}
svg path:nth-child(5){
    stroke-dasharray: 850px;
    stroke-dashoffset:850PX ;
    animation: sai 5s infinite;

}

@keyframes sai{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 0;
    }
}
@keyframes back{
    0%{
        background-color: blueviolet;
    }
    100%{
        background-color: aqua;
    }
}



/*  
.main{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: circle 5s infinite;
    position: relative;

}

@keyframes circle{
    0%{
        top: 0%;
        left: 0%;
        background-color: red;
    }
    25%{
        top: 0px;
        left: 1385px;
        background-color: blueviolet;
    }
    50%{
        top: 580px ;
        left: 1385px;
        background-color: aquamarine;
    }
    75%{
        top:580px ;
        left: 0px;
    }       
    100%{
        top: 0px;
        left: 0px;
        background-color: red;
    }
}
 */