*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
header .title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(1, 0, 0, 0.6)),url("pexels-pixabay-207896.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.navbar{
    background-color: transparent;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    padding: 7px 10px;
    width: 7%;
    margin: 0px 15px;
}
.navbar .logo{
    display: flex;
    align-items: center;
    color:  #fc036b;
}
.navbar ul li{
    display: inline-block;
    padding: 0px 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(151, 146, 146);
}
.navbar ul li a{
    color: rgb(159, 155, 155);
    text-decoration: none;
    font-family: 'Times New Roman';
}
.navbar ul li a:hover{
    transition: 0.3s ease;
    color:rgb(255, 255, 255);
}
.navbar button{
    margin: 0px 20px;
    padding: 7px 15px;
    background-color: #fc036b;
    color: rgb(255, 250, 250);
    font-size: 13px;
    border: 2px solid;
    border-radius: 25px;
}
.navbar button:hover{
    transition: 0.3s;
    cursor: pointer;
}

/* content container */

.main-content{
    background-color: transparent;
    color:antiquewhite;
    margin: 20% 30%;
    align-items: center;
    text-align: center;
}
.main-content h1{
    font-size: 50px;
}
.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 7px auto;
    border-radius: 5px;
}

.main-content p{
    padding: 15px 0px;
    font-family: 'Courier New';
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color:  #fc036b;
    border: 2px solid;
    color: white;
    font-size: 10px;
}
button:hover{ 
    transform: scale(1.09);
    transition: 0.5s;
}


/* section 2 events */

.section-title{
    width: 80%;
    margin: 50px auto;
}
.section-title h1{
    font-size: 40px;
    text-align: center;
    color: rgb(15, 15, 54);
}

.cards{
    display: flex;
    margin: 10px 20px;
    text-align: center;
    padding: 5px 10px;

}
.cards .card {
    background-color: gray;
    margin:0% 5%;
    border-radius: 4px;
    box-shadow: 6px 6px 12px rgb(0, 0, 0);
    transition: transform 400ms;
}
.cards .card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.cards .card img{
    width: 100%;
    height: 280px;
    border-radius: 4px;
}
.cards .card h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    padding: 6px 0px;
}
.cards .card p{
    padding: 0px 10px;
    text-align: justify;
}
.cards .card button{
    margin: 10px 0px;
}


/* section3 css */
.container{
    margin:0% 6% ;
}
.cont-content{
    margin: 60px auto;
    width: 80%;
}
.cont-content img{
    width: 450px;
    height: 300px;
    float: left;
    border:2px solid;
    border-radius: 50px;
    margin-right: 20px;
}
.cont-content .text{
    padding-top: 50px;
}
.cont-content .text h1{
    font-size: 50px;
    padding: 10px;
}
.cont-content .text p{
    font-size: 22px;
    text-align: justify;
}

/* container1 */
.container1{
    margin:0% 6% ;
}
.cont-content1{
    margin: 180px auto;
    width: 80%;
}
.cont-content1 img{
    width: 450px;
    height: 300px;
    float: right;
    border:2px solid;
    border-radius: 50px;
    margin-left: 20px;
}
.cont-content1 .text1{
    padding-top: 50px;
}
.cont-content1 .text1 h1{
    font-size: 50px;
    padding: 10px;
}
.cont-content1 .text1 p{
    font-size: 22px;
    text-align: justify;
}

/* Galery section */
.galary{
    object-fit: contain;
    display: flex;
    align-items: center center;
    flex-wrap: wrap;
    margin-left: 70px;
}
.galary img{
    width: 400px;
    height: 300px;
    border: 2px solid#ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 5px 30px;
    transition: 400ms;
}
.galary img:hover{
    transform: scale(1.05);
}


